body {
  background-color: rgba(255, 255, 255, 0.973) !important;
}

.container {
  background-color: rgb(74, 161, 34);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.carousel-item img {
  border-radius: 10px; 
}

i {
  margin-right: 5px;
}

.navbar-brand
{
    position: relative;
    left: 15px;

}

.brand {
  margin-left: 10px;
  margin-right: 10px;
}

.botao{
  background-color: rgba(255, 255, 255, 0.973) !important;
}

